:root {
  --brand-primary: #282828;
  --brand-secondary: #71CCCA;
  --text-primary: #282828;
  --gray-100: #F6F5F5;
  --gray-200: #E4E4E4;
  --gray-700: #6C6C6C;

  --fz-xl: 1.728rem;
  --fz-lg: 1.44em;
  --fz-md: 1.2rem;
  --fz-sm: 1rem;
  --fz-xs: 0.875rem;
  --fz-xxs: 0.79rem;
}
